<div class="comment-section">
  <h1 class="comments-header">Leave a Comment</h1>
  <%= simple_form_for ([ @recipe, @recipe.comments.build]), class:"comment-form" do |f| %>
    <%= f.input :name, label: false, required: true, placeholder: "Your name", class:"comment-form-name"%>
    <%= f.input :comment, label: false, required: true, placeholder: "Tell us about your experience", class:"comment-form-text" %>
    <%= f.submit "Submit", class: "btn-comment-submit" %>
  <% end %>
</div>
