.about-container {
  display: flex;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  margin-top: 40px;
  margin-left: 400px;
  margin-right: 400px;

}

.hum-photo {
  border-radius: 60%;
  padding-right: 24px;
}
