.blog-container {
  display: grid;
  justify-content: center;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  margin-top: 40px;
  margin-left: 350px;
  margin-right: 350px;
}

.card-product {
  overflow: hidden;
  height: 220px;
  width: 550px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 32px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-product img {
  height: 100%;
  width: 220px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  font-family: $headers-font;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  font-family: $body-font;
}

.card-product .card-product-infos {
  padding: 16px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 100px) and (max-width: 575px) {
  .blog-container {
    display: flex;
    flex-direction: column;
    min-height: 0;;
    margin: 0;
  }
  .card-product {
    height: 200px;
    width: 300px;
  }
  .card-product img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 576px) and (max-width: 767px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 1025px) {

}
