body {
  background-color: #f0ebeb;
  background-image: -webkit-linear-gradient(64deg, #f7f4f5 50%, #f0ebeb 50%);
  min-height: 500px;
}

.page-container {
  height: 100vh;
}

.content-container {
  min-height: 50vh;
}

.home-container {
  margin-top: 64px;
}

.recipes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 64px;
  margin: 0 auto;
  width: fit-content;
}

.home-recipe-card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  width: 300px;
}

.home-recipe-card-div {
  height: 100%;
  border: 1px solid black;
  border-radius: 4px;
  padding: 12px;
}

.home-recipe-card-photo {
  width: 100%;
  height: 400px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}

.home-recipe-card-title {
  font-size: 28px;
  font-family: $headers-font;
  text-align: center;
  margin: 0;
}

.get-email-content-between {
  background: #C6AFB1;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  padding: 48px 0;
  margin-top: 64px;
}


// whats new container
.new-recipe-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 64px;
  border: 1px solid black;
  border-radius: 4px;
}

.new-recipe-description {
  width: 320px;
  height: 332px;
  margin: 22px;
  h1 {
    font-family: $headers-font;
    font-size: 24px;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 16px;
  }
  p {
    font-family: $body-font;
    width: 300px;
  }
}

.new-recipe-photo {
  margin: 22px;
  width: 320px;
  height: 338px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  margin-top: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#new-recipe-header {
  font-size: 32px;
  border-bottom: 1px solid black;
}

.new-recipe-comments {
  margin: 22px;
  width: 350px;
}

.comment-title {
  font-size: 32px;
  font-family: $headers-font;
  border-bottom: 1px solid black;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 16px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 100px) and (max-width: 575px) {
  .content-container {
    display: block;
    overflow-x: hidden;
  }
  .recipes-container {
    display: block;
  }
  .get-email-content-between {
    display: none;
  }
  .new-recipe-box {
    // width: 320px;
    display: block;
    margin-top: 0;
    margin-left: 42px;
    margin-right: 24px;
  }
  .new-recipe-description p {
    width: 260px;
  }
  .new-recipe-description {
    width: 260px;
    height: fit-content;
  }
  .new-recipe-photo {
    width: 260px;
    margin: 32px;
  }
  .comment-title {
    display: none;
  }
  .comment-box {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .content-container {
    display: block;
    overflow-x: hidden;
  }
  .recipes-container {
    display: block;
  }
  .get-email-content-between {
    display: none;
  }
  .new-recipe-box {
    display: block;
    margin-top: 0;
    margin-left: 42px;
    margin-right: 24px;
  }
  .new-recipe-description p {
    width: 260px;
  }
  .new-recipe-description {
    width: 260px;
    height: fit-content;
  }
  .new-recipe-photo {
    width: 260px;
    margin: 32px;
  }
  .footer-text-para {
    display: none;
  }
  .comment-title {
    display: none;
  }
  .comment-box {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 812px) {
  .recipes-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .new-recipe-description {
    width: 320px;
  }
  .comment-title {
    display: none;
  }
  .comment-box {
    display: none;
  }
}

@media (min-width: 813px) and (max-width: 1024px) {
  .home-container {
    padding-left: 110px;
    padding-right: 110px;
  }
  .home-recipe-card {
    width: 230px;
  }
  .new-recipe-description p {
    width: 200px;
  }
  .new-recipe-description {
    width: 230px;
    height: fit-content;
  }
  .new-recipe-photo {
    width: 230px;
    margin: 32px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 1025px) {
  .home-container {
    padding-left: 200px;
    padding-right: 200px;
  }
}
