.index-page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  margin-top: 64px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category:hover {
  opacity: 0.8;
  transition: 0.9s;
  transform: scale(1.02);
}

.card-category a {
  text-align: center;
  margin: 8px;
  color: white;
  font-size: 24px;
  font-family: $body-font;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-category a:hover {
  color: white;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  margin-left: 350px;
  margin-right: 350px;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
    margin-left: 24px;
    margin-right: 24px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    margin-left: 24px;
    margin-right: 24px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 1025px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    margin-left: 24px;
    margin-right: 24px;
  }
}
