<div class="footer-two-elements">
  <div class="get-email">
    <div class="get-email-content">
      <%= image_tag("rice-bowl.png", size: "80x80", alt: "Edit Entry") %>
      <div class="footer-text">
        <p class="footer-text-header">Don't miss a recipe!</p>
        <p class="footer-text-para">get new posts via email:</p>
      </div>
        <%= form_tag new_user_path, class: "email-control", method: :get do %>
        <%= text_field_tag :email,
          params[:email],
          class: "email-bar",
          placeholder: "Type your email..."
        %>
        <div class="input-group-append">
          <button type="submit" class="button-sent" data-bs-toggle="modal" data-bs-target="#login-popup"><i class="far fa-paper-plane"></i></button>
        </div>
        <% end %>
    </div>
  </div>
</div>
<div class="footer">
  <p class="copy">© Copyright 2021 Witta Glöckner</p>
  <div class="right">
    <div class="footer-links">
      <p class="follow">Follow me</p>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="impressum">
      <a href="#">Contact  |</a>
      <a href="#">About  |</a>
      <a href="#">Privacy Policy</a>
    </div>
  </div>
</div>
