<div class="about-container">
  <div class="picture">
      <%= cl_image_tag("placeholder-humara_fpv4av", size: "300x300", alt: "Humara Cleveland", class: "hum-photo") %>
<!--       <%= image_tag("placeholder-humara.jpg", size: "300x300", alt: "Humara Cleveland", class: "hum-photo") %> -->
  </div>
  <div class="about-text">
    <h1>About Me</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit a dolores, aliquid modi, dolorem aspernatur dicta dignissimos aperiam officiis nihil ipsum? Optio maiores fugit nostrum distinctio accusamus adipisci fuga! Corporis!</p>
  </div>
</div>
