.content-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  // padding-left: 300px;
  // padding-right: 300px;
  margin-top: 40px;
  margin-left: 200px;
  margin-right: 200px;
}
